.hidden {
    display: none;
}

.main-background {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.indicators-list {
}

    .indicator-item-header {
        display: -ms-grid;
        -ms-grid-columns: 25% 25% 25% 25%;
        text-align: center;
    }

        .indicator-item-header .indicator-item-header-col-symbol {
            -ms-grid-column: 1;
        }

        .indicator-item-header .indicator-item-header-col-direction {
            -ms-grid-column: 2;
        }

        .indicator-item-header .indicator-item-header-col-time {
            -ms-grid-column: 3;
        }

        .indicator-item-header .indicator-item-header-col-level {
            -ms-grid-column: 4;
        }

#mainProgressBar {
    width: 100%;
    position: absolute;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
}