.main-background, #contenthost {
    background-image: url('/images/MainAppBackground.png');
}

#contenthost {
    height: 100%;
    width: 100%;
}

.page-content {
	padding-left: 40px;
	padding-right: 40px;
}

    .page-content h2 {
        margin-bottom: 20px;
    }

    .page-content .page-toolbar {
        margin-top: 20px;
        margin-bottom: 20px;
    }


.fragment {
    /* Определить таблицу со строками для баннера и основной части */
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 128px 1fr;
    display: -ms-grid;
    height: 100%;
    width: 100%;
}

    .fragment header[role=banner] {
        /* Определить таблицу со столбцами для кнопки "Назад" и заголовка страницы. */
        -ms-grid-columns: 37px 83px 1fr;
        -ms-grid-rows: 1fr;
        display: -ms-grid;
    }

        .fragment header[role=banner] .win-navigation-backbutton {
            -ms-grid-column: 2;
            margin-top: 57px;
            position: relative;
            z-index: 1;
        }

        .fragment header[role=banner] .titlearea {
            -ms-grid-column: 3;
            margin-top: 37px;
        }

            .fragment header[role=banner] .titlearea .pagetitle {
                width: calc(100% - 20px);
            }

    .fragment section[role=main] {
        -ms-grid-row: 2;
        height: 100%;
    }

#sectionIndicatorsContenthost{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.indicators-list{
    height: 100%;
}

.indicator-item-header{
	margin-left: 7px;
	margin-right: 24px;
    margin-bottom: 20px;
}

.win-listview .win-container .win-itembox {
    background-color: rgba(0, 0, 0, 0.1);
}

    .indicators-list .indicator-item {
        /*border: 1px solid white;*/
        display: -ms-grid;
        -ms-grid-columns: 25% 25% 25% 25%;
        -ms-grid-rows: 39px;
        text-align: center;
        font-size: 19px;
    }

        .indicators-list .indicator-item .indicator-item-col {
            -ms-grid-row: 1;
            vertical-align: middle;
            line-height: 39px;
        }

        .indicators-list .indicator-item .indicator-item-col-symbol {
            -ms-grid-column: 1;
        }

        .indicators-list .indicator-item .indicator-item-col-direction {
            -ms-grid-column: 2;
        }

        .indicators-list .indicator-item .indicator-item-col-time {
            -ms-grid-column: 3;
        }

        .indicators-list .indicator-item .indicator-item-col-level {
            -ms-grid-column: 4;
        }

        .indicators-list .indicator-item .indicator-item-col-direction div {
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: left;
            background-position-y: center;
            padding: 0 0 0 32px;
            margin: 10px 0 10px 0;
            height: 19px;
            line-height: 19px;
        }


        .indicators-list .indicator-item .indicator-item-col-direction div.direction-up {
            background-image: url('/images/arrows/up.png');
        }

        .indicators-list .indicator-item .indicator-item-col-direction div.direction-down{
            background-image: url('/images/arrows/down.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level div {
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            height: 39px;
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-1 {
            background-image: url('/images/levels/level_1.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-2 {
            background-image: url('/images/levels/level_2.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-3 {
            background-image: url('/images/levels/level_3.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-4 {
            background-image: url('/images/levels/level_4.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-5 {
            background-image: url('/images/levels/level_5.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-6 {
            background-image: url('/images/levels/level_6.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-7 {
            background-image: url('/images/levels/level_7.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-8 {
            background-image: url('/images/levels/level_8.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-9 {
            background-image: url('/images/levels/level_9.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-10 {
            background-image: url('/images/levels/level_10.png');
        }