#contenthost {
	background-color: gray;
}

.fragment header[role=banner] {
	/* Define a grid with columns for the back button and page title. */
	-ms-grid-columns: 1fr;
	-ms-grid-rows: 1fr;
	display: -ms-grid;
	height: 40px;
}

	.fragment header[role=banner] .win-navigation-backbutton {
		visibility: hidden;
	}

	.fragment header[role=banner] .backbutton {
		visibility: hidden;
	}

	.fragment header[role=banner] .titlearea {
		-ms-grid-column: 1;
		margin-top: 10px;
		margin-left: 20px;
		font-size: 20pt;
		overflow: visible;
	}

		.fragment header[role=banner] .titlearea .pagetitle {
			width: calc(100% - 20px);
		}

#sectionIndicatorsContenthost{
    height: 100%;
}

.indicators-list{
    height: 100%;
}

    .indicators-list .indicator-item {
        border: 1px solid white;
    }

        .indicators-list .indicator-item .indicator-item-col {
            display: inline-block;
            width: 24%;
        }

        .indicators-list .indicator-item .indicator-item-col-direction .direction-up {
            background: green;
        }

        .indicators-list .indicator-item .indicator-item-col-direction .direction-down{
            background: red;
        }

        .indicators-list .indicator-item .indicator-item-col-level div {
            background-size: contain;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            height: 39px;
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-1 {
            background-image: url('/images/levels/level_1.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-2 {
            background-image: url('/images/levels/level_2.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-3 {
            background-image: url('/images/levels/level_3.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-4 {
            background-image: url('/images/levels/level_4.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-5 {
            background-image: url('/images/levels/level_5.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-6 {
            background-image: url('/images/levels/level_6.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-7 {
            background-image: url('/images/levels/level_7.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-8 {
            background-image: url('/images/levels/level_8.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-9 {
            background-image: url('/images/levels/level_9.png');
        }

        .indicators-list .indicator-item .indicator-item-col-level .level-10 {
            background-image: url('/images/levels/level_10.png');
        }